@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased text-slate-900;
}

::selection {
  @apply bg-brand-blue/20 text-brand-blue;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full border-4 border-solid border-slate-50 hover:bg-slate-300 transition-colors;
}
